In [102]:
import matplotlib.pyplot as plt

import numpy as np

import os

import pandas as pd

In [103]:
file='./tratadas/stringency_country_date.csv'

In [127]:
data = pd.read_csv(file,index_col=0)
data=data.T
data

,2020-01-01,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,...,2020-05-23,2020-05-24,2020-05-25,2020-05-26,2020-05-27,2020-05-28,2020-05-29,2020-05-30,2020-05-31,2020-06-01
ABW,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,45.37,45.37,45.37,45.37,41.67,41.67,41.67,41.67,41.67,NaN
AFG,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,78.70,78.70,78.70,78.70,78.70,78.70,78.70,78.70,NaN,NaN
AGO,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,81.48,81.48,81.48,81.48,81.48,81.48,81.48,81.48,NaN,NaN
ALB,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,83.33,83.33,83.33,83.33,83.33,83.33,83.33,83.33,NaN,NaN
AND,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZAF,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,84.26,84.26,84.26,84.26,84.26,84.26,84.26,84.26,NaN,NaN
ZMB,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,43.52,43.52,43.52,43.52,43.52,43.52,43.52,43.52,NaN,NaN
ZWE,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,87.96,87.96,87.96,87.96,87.96,87.96,87.96,87.96,NaN,NaN
TWN,0.0,5.56,5.56,5.56,5.56,5.56,5.56,5.56,5.56,5.56,...,22.22,22.22,22.22,22.22,22.22,22.22,22.22,22.22,NaN,NaN
RKS,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,87.04,87.04,87.04,87.04,87.04,87.04,87.04,87.04,84.26,NaN

In [151]:
tuplas=[]
#print(data.columns)
i=0
for index, row in data.iterrows():
    
    for e in range(len(data.columns)):
        #print(data.iloc[i,e])
        if data.iloc[i,e]>0.0:
            escogido=[e]
            escogido.append(index)
            tuplas.append(escogido)
            break

    i+=1
print(tuplas)

[[74, 'ABW'], [60, 'AFG'], [36, 'AGO'], [44, 'ALB'], [72, 'AND'], [22, 'ARE'], [22, 'ARG'], [24, 'AUS'], [54, 'AUT'], [29, 'AZE'], [31, 'BDI'], [27, 'BEL'], [31, 'BEN'], [71, 'BFA'], [21, 'BGD'], [33, 'BGR'], [22, 'BHR'], [30, 'BIH'], [73, 'BLR'], [48, 'BLZ'], [21, 'BMU'], [69, 'BOL'], [28, 'BRA'], [21, 'BRB'], [5, 'BRN'], [65, 'BTN'], [0, 'BWA'], [73, 'CAF'], [21, 'CAN'], [55, 'CHE'], [73, 'CHL'], [4, 'CHN'], [71, 'CIV'], [72, 'CMR'], [50, 'COD'], [62, 'COG'], [20, 'COL'], [35, 'CPV'], [33, 'CRI'], [27, 'CUB'], [64, 'CYP'], [23, 'CZE'], [23, 'DEU'], [77, 'DJI'], [81, 'DMA'], [57, 'DNK'], [61, 'DOM'], [64, 'DZA'], [25, 'ECU'], [74, 'EGY'], [30, 'ESP'], [71, 'EST'], [75, 'ETH'], [26, 'FIN'], [22, 'FRA'], [21, 'GAB'], [32, 'GBR'], [27, 'GEO'], [23, 'GHA'], [26, 'GIN'], [37, 'GMB'], [55, 'GRC'], [61, 'GRL'], [20, 'GTM'], [37, 'GUM'], [17, 'GUY'], [0, 'HKG'], [61, 'HND'], [26, 'HRV'], [71, 'HTI'], [58, 'HUN'], [2, 'IDN'], [24, 'IND'], [34, 'IRL'], [50, 'IRN'], [49, 'IRQ'], [22, 'ISL'], [26, 'ISR'], [22, 'ITA'], [30, 'JAM'], [64, 'JOR'], [6, 'JPN'], [71, 'KAZ'], [19, 'KEN'], [21, 'KGZ'], [30, 'KOR'], [22, 'KWT'], [70, 'LAO'], [38, 'LBN'], [28, 'LBR'], [73, 'LBY'], [25, 'LKA'], [63, 'LSO'], [56, 'LTU'], [64, 'LUX'], [0, 'MAC'], [63, 'MAR'], [23, 'MDA'], [74, 'MDG'], [58, 'MEX'], [77, 'MLI'], [5, 'MMR'], [0, 'MNG'], [41, 'MOZ'], [35, 'MRT'], [77, 'MUS'], [41, 'MWI'], [15, 'MYS'], [60, 'NAM'], [72, 'NER'], [0, 'NGA'], [51, 'NIC'], [65, 'NLD'], [30, 'NOR'], [15, 'NPL'], [32, 'NZL'], [19, 'OMN'], [30, 'PAK'], [20, 'PAN'], [64, 'PER'], [23, 'PHL'], [26, 'PNG'], [22, 'POL'], [29, 'PRI'], [25, 'PRT'], [22, 'PRY'], [52, 'PSE'], [23, 'QAT'], [26, 'ROU'], [29, 'RUS'], [20, 'RWA'], [29, 'SAU'], [27, 'SDN'], [73, 'SEN'], [1, 'SGP'], [36, 'SLB'], [75, 'SLE'], [22, 'SLV'], [53, 'SMR'], [73, 'SOM'], [21, 'SRB'], [54, 'SSD'], [72, 'SUR'], [26, 'SVK'], [63, 'SVN'], [68, 'SWE'], [59, 'SWZ'], [28, 'SYC'], [31, 'SYR'], [66, 'TCD'], [65, 'THA'], [20, 'TJK'], [7, 'TKM'], [29, 'TLS'], [29, 'TTO'], [63, 'TUN'], [23, 'TUR'], [73, 'TZA'], [19, 'UGA'], [62, 'UKR'], [72, 'URY'], [32, 'USA'], [20, 'UZB'], [58, 'VEN'], [24, 'VNM'], [76, 'YEM'], [22, 'ZAF'], [51, 'ZMB'], [26, 'ZWE'], [1, 'TWN'], [67, 'RKS']]

In [152]:
for index, row in data.iterrows():
    print(index)

ABW
AFG
AGO
ALB
AND
ARE
ARG
AUS
AUT
AZE
BDI
BEL
BEN
BFA
BGD
BGR
BHR
BIH
BLR
BLZ
BMU
BOL
BRA
BRB
BRN
BTN
BWA
CAF
CAN
CHE
CHL
CHN
CIV
CMR
COD
COG
COL
CPV
CRI
CUB
CYP
CZE
DEU
DJI
DMA
DNK
DOM
DZA
ECU
EGY
ESP
EST
ETH
FIN
FRA
GAB
GBR
GEO
GHA
GIN
GMB
GRC
GRL
GTM
GUM
GUY
HKG
HND
HRV
HTI
HUN
IDN
IND
IRL
IRN
IRQ
ISL
ISR
ITA
JAM
JOR
JPN
KAZ
KEN
KGZ
KOR
KWT
LAO
LBN
LBR
LBY
LKA
LSO
LTU
LUX
MAC
MAR
MDA
MDG
MEX
MLI
MMR
MNG
MOZ
MRT
MUS
MWI
MYS
NAM
NER
NGA
NIC
NLD
NOR
NPL
NZL
OMN
PAK
PAN
PER
PHL
PNG
POL
PRI
PRT
PRY
PSE
QAT
ROU
RUS
RWA
SAU
SDN
SEN
SGP
SLB
SLE
SLV
SMR
SOM
SRB
SSD
SUR
SVK
SVN
SWE
SWZ
SYC
SYR
TCD
THA
TJK
TKM
TLS
TTO
TUN
TUR
TZA
UGA
UKR
URY
USA
UZB
VEN
VNM
YEM
ZAF
ZMB
ZWE
TWN
RKS

In [153]:
tuplas=sorted(tuplas)
ordenado = [tupla[1] for tupla in tuplas]
print(tuplas,ordenado)

[[0, 'BWA'], [0, 'HKG'], [0, 'MAC'], [0, 'MNG'], [0, 'NGA'], [1, 'SGP'], [1, 'TWN'], [2, 'IDN'], [4, 'CHN'], [5, 'BRN'], [5, 'MMR'], [6, 'JPN'], [7, 'TKM'], [15, 'MYS'], [15, 'NPL'], [17, 'GUY'], [19, 'KEN'], [19, 'OMN'], [19, 'UGA'], [20, 'COL'], [20, 'GTM'], [20, 'PAN'], [20, 'RWA'], [20, 'TJK'], [20, 'UZB'], [21, 'BGD'], [21, 'BMU'], [21, 'BRB'], [21, 'CAN'], [21, 'GAB'], [21, 'KGZ'], [21, 'SRB'], [22, 'ARE'], [22, 'ARG'], [22, 'BHR'], [22, 'FRA'], [22, 'ISL'], [22, 'ITA'], [22, 'KWT'], [22, 'POL'], [22, 'PRY'], [22, 'SLV'], [22, 'ZAF'], [23, 'CZE'], [23, 'DEU'], [23, 'GHA'], [23, 'MDA'], [23, 'PHL'], [23, 'QAT'], [23, 'TUR'], [24, 'AUS'], [24, 'IND'], [24, 'VNM'], [25, 'ECU'], [25, 'LKA'], [25, 'PRT'], [26, 'FIN'], [26, 'GIN'], [26, 'HRV'], [26, 'ISR'], [26, 'PNG'], [26, 'ROU'], [26, 'SVK'], [26, 'ZWE'], [27, 'BEL'], [27, 'CUB'], [27, 'GEO'], [27, 'SDN'], [28, 'BRA'], [28, 'LBR'], [28, 'SYC'], [29, 'AZE'], [29, 'PRI'], [29, 'RUS'], [29, 'SAU'], [29, 'TLS'], [29, 'TTO'], [30, 'BIH'], [30, 'ESP'], [30, 'JAM'], [30, 'KOR'], [30, 'NOR'], [30, 'PAK'], [31, 'BDI'], [31, 'BEN'], [31, 'SYR'], [32, 'GBR'], [32, 'NZL'], [32, 'USA'], [33, 'BGR'], [33, 'CRI'], [34, 'IRL'], [35, 'CPV'], [35, 'MRT'], [36, 'AGO'], [36, 'SLB'], [37, 'GMB'], [37, 'GUM'], [38, 'LBN'], [41, 'MOZ'], [41, 'MWI'], [44, 'ALB'], [48, 'BLZ'], [49, 'IRQ'], [50, 'COD'], [50, 'IRN'], [51, 'NIC'], [51, 'ZMB'], [52, 'PSE'], [53, 'SMR'], [54, 'AUT'], [54, 'SSD'], [55, 'CHE'], [55, 'GRC'], [56, 'LTU'], [57, 'DNK'], [58, 'HUN'], [58, 'MEX'], [58, 'VEN'], [59, 'SWZ'], [60, 'AFG'], [60, 'NAM'], [61, 'DOM'], [61, 'GRL'], [61, 'HND'], [62, 'COG'], [62, 'UKR'], [63, 'LSO'], [63, 'MAR'], [63, 'SVN'], [63, 'TUN'], [64, 'CYP'], [64, 'DZA'], [64, 'JOR'], [64, 'LUX'], [64, 'PER'], [65, 'BTN'], [65, 'NLD'], [65, 'THA'], [66, 'TCD'], [67, 'RKS'], [68, 'SWE'], [69, 'BOL'], [70, 'LAO'], [71, 'BFA'], [71, 'CIV'], [71, 'EST'], [71, 'HTI'], [71, 'KAZ'], [72, 'AND'], [72, 'CMR'], [72, 'NER'], [72, 'SUR'], [72, 'URY'], [73, 'BLR'], [73, 'CAF'], [73, 'CHL'], [73, 'LBY'], [73, 'SEN'], [73, 'SOM'], [73, 'TZA'], [74, 'ABW'], [74, 'EGY'], [74, 'MDG'], [75, 'ETH'], [75, 'SLE'], [76, 'YEM'], [77, 'DJI'], [77, 'MLI'], [77, 'MUS'], [81, 'DMA']] ['BWA', 'HKG', 'MAC', 'MNG', 'NGA', 'SGP', 'TWN', 'IDN', 'CHN', 'BRN', 'MMR', 'JPN', 'TKM', 'MYS', 'NPL', 'GUY', 'KEN', 'OMN', 'UGA', 'COL', 'GTM', 'PAN', 'RWA', 'TJK', 'UZB', 'BGD', 'BMU', 'BRB', 'CAN', 'GAB', 'KGZ', 'SRB', 'ARE', 'ARG', 'BHR', 'FRA', 'ISL', 'ITA', 'KWT', 'POL', 'PRY', 'SLV', 'ZAF', 'CZE', 'DEU', 'GHA', 'MDA', 'PHL', 'QAT', 'TUR', 'AUS', 'IND', 'VNM', 'ECU', 'LKA', 'PRT', 'FIN', 'GIN', 'HRV', 'ISR', 'PNG', 'ROU', 'SVK', 'ZWE', 'BEL', 'CUB', 'GEO', 'SDN', 'BRA', 'LBR', 'SYC', 'AZE', 'PRI', 'RUS', 'SAU', 'TLS', 'TTO', 'BIH', 'ESP', 'JAM', 'KOR', 'NOR', 'PAK', 'BDI', 'BEN', 'SYR', 'GBR', 'NZL', 'USA', 'BGR', 'CRI', 'IRL', 'CPV', 'MRT', 'AGO', 'SLB', 'GMB', 'GUM', 'LBN', 'MOZ', 'MWI', 'ALB', 'BLZ', 'IRQ', 'COD', 'IRN', 'NIC', 'ZMB', 'PSE', 'SMR', 'AUT', 'SSD', 'CHE', 'GRC', 'LTU', 'DNK', 'HUN', 'MEX', 'VEN', 'SWZ', 'AFG', 'NAM', 'DOM', 'GRL', 'HND', 'COG', 'UKR', 'LSO', 'MAR', 'SVN', 'TUN', 'CYP', 'DZA', 'JOR', 'LUX', 'PER', 'BTN', 'NLD', 'THA', 'TCD', 'RKS', 'SWE', 'BOL', 'LAO', 'BFA', 'CIV', 'EST', 'HTI', 'KAZ', 'AND', 'CMR', 'NER', 'SUR', 'URY', 'BLR', 'CAF', 'CHL', 'LBY', 'SEN', 'SOM', 'TZA', 'ABW', 'EGY', 'MDG', 'ETH', 'SLE', 'YEM', 'DJI', 'MLI', 'MUS', 'DMA']

In [154]:
dataordenada=data.reindex(ordenado)

dataordenada=dataordenada.T
dataordenada

,BWA,HKG,MAC,MNG,NGA,SGP,TWN,IDN,CHN,BRN,...,ABW,EGY,MDG,ETH,SLE,YEM,DJI,MLI,MUS,DMA
2020-01-01,5.56,13.89,11.11,11.11,11.11,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
2020-01-01,5.56,13.89,11.11,11.11,11.11,13.89,5.56,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
2020-01-02,5.56,13.89,11.11,11.11,11.11,13.89,5.56,5.56,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
2020-01-03,5.56,13.89,11.11,11.11,11.11,13.89,5.56,5.56,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
2020-01-04,5.56,13.89,11.11,11.11,11.11,13.89,5.56,5.56,2.78,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-28,61.11,60.19,37.96,62.96,80.56,81.48,22.22,68.06,81.94,52.78,...,41.67,84.26,62.96,73.15,73.15,50.93,59.26,56.48,78.7,70.37
2020-05-29,61.11,60.19,37.96,62.96,80.56,81.48,22.22,68.06,81.94,52.78,...,41.67,84.26,62.96,73.15,73.15,50.93,59.26,56.48,71.3,70.37
2020-05-30,61.11,NaN,NaN,62.96,80.56,81.48,22.22,68.06,81.94,52.78,...,41.67,84.26,62.96,73.15,73.15,50.93,59.26,56.48,71.3,70.37
2020-05-31,NaN,NaN,NaN,62.96,NaN,NaN,NaN,NaN,NaN,52.78,...,41.67,NaN,NaN,73.15,NaN,NaN,NaN,NaN,71.3,NaN
2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.3,NaN

In [155]:
dataordenada.to_csv('stringency_country_date_homogenea.csv')